In [2]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
from numpy import sqrt
from scipy.stats import ttest_ind
from statsmodels.stats.multitest import multipletests
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [6]:
olf = pd.read_excel (r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Olfactory\Olfactory.xlsx", 
              header=0, index_col = "Gene names")
olf.head()

,ALS 1,ALS 2,ALS 3,ALS 4,ALS 5,ALS 6,ALS 7,ALS 8,ALS 9,ALS 10,ALS 11,Control 1,Control 2,Control 3,Control 4,Control 5,Control 6,Control 7,Control 8
Gene names,,,,,,,,,,,,,,,,,,,
HDGFRP3,658640000,609859968,452920000,551539968,412440000,460609984,582150016,453340000,511209984,453700000,0,666339968,587059968,495849984,465529984,733270016,650569984,590609984,276289984
DNPEP,728179968,683550016,835209984,736840000,811809984,674510016,743150016,700150016,665440000,770300032,591240000,709360000,769699968,833980032,852819968,739129984,767880000,707329984,491600000
HDLBP,291910016,241630000,221600000,279369984,255120000,338390016,284089984,0,240850000,262590000,200570000,242700000,207720000,279249984,232810000,243130000,242490000,255730000,177850000
RPS9,0,0,0,0,0,0,34329000,0,0,0,0,0,0,0,0,0,0,0,0
SERPINA1,0,102590000,0,0,0,0,0,99338000,0,0,0,0,0,297190016,0,0,0,0,0

In [7]:
olf.shape

(4777, 19)

In [13]:
# Replace 0 with NaN
olf.replace(0, np.nan, inplace=True)

In [14]:
# Columns belonging to Group 1 and 2
ALS_columns = [col for col in olf.columns if "ALS" in col]
Control_columns = [col for col in olf.columns if "Control" in col]


# Filter rows where at least 50% of Group 1 values are present, do the same for Group 2
filtered_als = olf[olf[ALS_columns].notna().mean(axis=1) >= 0.5]
cont_filt = filtered_als[filtered_als[Control_columns].notna().mean(axis=1) >= 0.5]

In [15]:
cont_filt.shape

(2605, 19)

In [16]:
cont_filt.to_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Olfactory\Olfactory drop NA.xlsx")

In [20]:
#cont_filt = pd.read_excel (r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Olfactory\Olfactory drop NA rows.xlsx", 
              header=0, index_col = "Gene names")
#cont_filt.head()

,ALS 1,ALS 2,ALS 3,ALS 4,ALS 5,ALS 6,ALS 7,ALS 8,ALS 9,ALS 10,ALS 11,Control 1,Control 2,Control 3,Control 4,Control 5,Control 6,Control 7,Control 8
Gene names,,,,,,,,,,,,,,,,,,,
HDGFRP3,6.586400e+08,6.098600e+08,4.529200e+08,5.515400e+08,4.124400e+08,4.606100e+08,5.821500e+08,4.533400e+08,5.112100e+08,4.537000e+08,NaN,6.663400e+08,5.870600e+08,4.958500e+08,4.655300e+08,7.332700e+08,6.505700e+08,5.906100e+08,2.762900e+08
DNPEP,7.281800e+08,6.835500e+08,8.352100e+08,7.368400e+08,8.118100e+08,6.745100e+08,7.431500e+08,7.001500e+08,6.654400e+08,7.703000e+08,5.912400e+08,7.093600e+08,7.697000e+08,8.339800e+08,8.528200e+08,7.391300e+08,7.678800e+08,7.073300e+08,4.916000e+08
HDLBP,2.919100e+08,2.416300e+08,2.216000e+08,2.793700e+08,2.551200e+08,3.383900e+08,2.840900e+08,NaN,2.408500e+08,2.625900e+08,2.005700e+08,2.427000e+08,2.077200e+08,2.792500e+08,2.328100e+08,2.431300e+08,2.424900e+08,2.557300e+08,1.778500e+08
PSMA2,1.495700e+09,1.504000e+09,1.552900e+09,1.441100e+09,1.478400e+09,1.360100e+09,1.757700e+09,1.817300e+09,1.653600e+09,1.298000e+09,1.219800e+09,1.451100e+09,1.324700e+09,1.448600e+09,1.481100e+09,1.660900e+09,1.354300e+09,1.328200e+09,1.168600e+09
BAT3;BAG6,3.586900e+08,3.797800e+08,3.339600e+08,3.393800e+08,3.173800e+08,3.342000e+08,3.462200e+08,2.966100e+08,2.607100e+08,3.661000e+08,3.941400e+08,3.914700e+08,3.933000e+08,3.574400e+08,4.104900e+08,3.627800e+08,3.224700e+08,3.123700e+08,4.526800e+08

In [17]:
# Set the new range
min_range = 1
max_range = 5

In [18]:
dis_min = cont_filt.min().min()
dis_max = cont_filt.max().max()
scaled_dis = (cont_filt - dis_min) / (dis_max - dis_min)
scaled_data = (scaled_dis * (max_range - min_range)) + min_range
scaled_data.head()

,ALS 1,ALS 2,ALS 3,ALS 4,ALS 5,ALS 6,ALS 7,ALS 8,ALS 9,ALS 10,ALS 11,Control 1,Control 2,Control 3,Control 4,Control 5,Control 6,Control 7,Control 8
Gene names,,,,,,,,,,,,,,,,,,,
HDGFRP3,1.001514,1.001400,1.001034,1.001264,1.000940,1.001052,1.001336,1.001035,1.001170,1.001036,NaN,1.001532,1.001347,1.001134,1.001064,1.001688,1.001495,1.001355,1.000622
DNPEP,1.001676,1.001572,1.001926,1.001697,1.001872,1.001551,1.001711,1.001611,1.001530,1.001775,1.001357,1.001632,1.001773,1.001923,1.001967,1.001702,1.001769,1.001628,1.001124
HDLBP,1.000658,1.000541,1.000494,1.000629,1.000573,1.000767,1.000640,NaN,1.000539,1.000590,1.000445,1.000544,1.000462,1.000629,1.000521,1.000545,1.000543,1.000574,1.000392
PSMA2,1.003467,1.003487,1.003601,1.003340,1.003427,1.003151,1.004079,1.004218,1.003836,1.003006,1.002823,1.003363,1.003068,1.003357,1.003433,1.003853,1.003137,1.003076,1.002704
BAT3;BAG6,1.000814,1.000863,1.000757,1.000769,1.000718,1.000757,1.000785,1.000669,1.000586,1.000832,1.000897,1.000891,1.000895,1.000811,1.000935,1.000824,1.000730,1.000706,1.001034

In [19]:
scaled_data.to_excel (r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Olfactory\Olfactory drop NA scaled.xlsx")

In [21]:
# Automatically identify group columns by their prefixes
als = [col for col in scaled_data.columns if col.startswith('ALS ')]
control = [col for col in scaled_data.columns if col.startswith('Control ')]

# Perform t-tests row-wise
results = []
for i, row in scaled_data.iterrows():
    t_stat, p_value = ttest_ind(row[als].dropna(), row[control].dropna())
    results.append({'Gene names': i, 't_stat': t_stat, 'p_value': p_value})
    
# Convert results to a DataFrame
results_df = pd.DataFrame(results)
results_df

           Gene names    t_stat   p_value
0             HDGFRP3 -0.810921  0.429309
1               DNPEP -0.292682  0.773307
2               HDLBP  1.558113  0.138765
3               PSMA2  1.341724  0.197334
4           BAT3;BAG6 -1.892391  0.075596
...               ...       ...       ...
2600             PCLO -0.891937  0.387500
2601            WASF2 -0.582067  0.569168
2602            PSMC3 -0.602378  0.554873
2603            ACIN1  0.719136  0.483111
2604  HSPE1-MOB4;MOB4  0.165119  0.870798

[2605 rows x 3 columns]

In [22]:
# Add the results DataFrame to the original data DataFrame
prot_stat = pd.concat([scaled_data, results_df.set_index('Gene names')], axis=1)
prot_stat.head()

,ALS 1,ALS 2,ALS 3,ALS 4,ALS 5,ALS 6,ALS 7,ALS 8,ALS 9,ALS 10,...,Control 1,Control 2,Control 3,Control 4,Control 5,Control 6,Control 7,Control 8,t_stat,p_value
Gene names,,,,,,,,,,,,,,,,,,,,,
HDGFRP3,1.001514,1.001400,1.001034,1.001264,1.000940,1.001052,1.001336,1.001035,1.001170,1.001036,...,1.001532,1.001347,1.001134,1.001064,1.001688,1.001495,1.001355,1.000622,-0.810921,0.429309
DNPEP,1.001676,1.001572,1.001926,1.001697,1.001872,1.001551,1.001711,1.001611,1.001530,1.001775,...,1.001632,1.001773,1.001923,1.001967,1.001702,1.001769,1.001628,1.001124,-0.292682,0.773307
HDLBP,1.000658,1.000541,1.000494,1.000629,1.000573,1.000767,1.000640,NaN,1.000539,1.000590,...,1.000544,1.000462,1.000629,1.000521,1.000545,1.000543,1.000574,1.000392,1.558113,0.138765
PSMA2,1.003467,1.003487,1.003601,1.003340,1.003427,1.003151,1.004079,1.004218,1.003836,1.003006,...,1.003363,1.003068,1.003357,1.003433,1.003853,1.003137,1.003076,1.002704,1.341724,0.197334
BAT3;BAG6,1.000814,1.000863,1.000757,1.000769,1.000718,1.000757,1.000785,1.000669,1.000586,1.000832,...,1.000891,1.000895,1.000811,1.000935,1.000824,1.000730,1.000706,1.001034,-1.892391,0.075596

In [23]:
# Apply Benjamini-Hochberg correction (optional)
_, p_adjusted, _, _ = multipletests(prot_stat['p_value'], method='fdr_bh')
prot_stat['p_adjusted_bh'] = p_adjusted
prot_stat.head()

,ALS 1,ALS 2,ALS 3,ALS 4,ALS 5,ALS 6,ALS 7,ALS 8,ALS 9,ALS 10,...,Control 2,Control 3,Control 4,Control 5,Control 6,Control 7,Control 8,t_stat,p_value,p_adjusted_bh
Gene names,,,,,,,,,,,,,,,,,,,,,
HDGFRP3,1.001514,1.001400,1.001034,1.001264,1.000940,1.001052,1.001336,1.001035,1.001170,1.001036,...,1.001347,1.001134,1.001064,1.001688,1.001495,1.001355,1.000622,-0.810921,0.429309,0.874395
DNPEP,1.001676,1.001572,1.001926,1.001697,1.001872,1.001551,1.001711,1.001611,1.001530,1.001775,...,1.001773,1.001923,1.001967,1.001702,1.001769,1.001628,1.001124,-0.292682,0.773307,0.962735
HDLBP,1.000658,1.000541,1.000494,1.000629,1.000573,1.000767,1.000640,NaN,1.000539,1.000590,...,1.000462,1.000629,1.000521,1.000545,1.000543,1.000574,1.000392,1.558113,0.138765,0.701906
PSMA2,1.003467,1.003487,1.003601,1.003340,1.003427,1.003151,1.004079,1.004218,1.003836,1.003006,...,1.003068,1.003357,1.003433,1.003853,1.003137,1.003076,1.002704,1.341724,0.197334,0.766235
BAT3;BAG6,1.000814,1.000863,1.000757,1.000769,1.000718,1.000757,1.000785,1.000669,1.000586,1.000832,...,1.000895,1.000811,1.000935,1.000824,1.000730,1.000706,1.001034,-1.892391,0.075596,0.587857

In [24]:
_, p_adjusted, _, _ = multipletests(prot_stat['p_value'], method='bonferroni')
prot_stat['p_adjusted_bonf'] = p_adjusted
prot_stat.head()

,ALS 1,ALS 2,ALS 3,ALS 4,ALS 5,ALS 6,ALS 7,ALS 8,ALS 9,ALS 10,...,Control 3,Control 4,Control 5,Control 6,Control 7,Control 8,t_stat,p_value,p_adjusted_bh,p_adjusted_bonf
Gene names,,,,,,,,,,,,,,,,,,,,,
HDGFRP3,1.001514,1.001400,1.001034,1.001264,1.000940,1.001052,1.001336,1.001035,1.001170,1.001036,...,1.001134,1.001064,1.001688,1.001495,1.001355,1.000622,-0.810921,0.429309,0.874395,1.0
DNPEP,1.001676,1.001572,1.001926,1.001697,1.001872,1.001551,1.001711,1.001611,1.001530,1.001775,...,1.001923,1.001967,1.001702,1.001769,1.001628,1.001124,-0.292682,0.773307,0.962735,1.0
HDLBP,1.000658,1.000541,1.000494,1.000629,1.000573,1.000767,1.000640,NaN,1.000539,1.000590,...,1.000629,1.000521,1.000545,1.000543,1.000574,1.000392,1.558113,0.138765,0.701906,1.0
PSMA2,1.003467,1.003487,1.003601,1.003340,1.003427,1.003151,1.004079,1.004218,1.003836,1.003006,...,1.003357,1.003433,1.003853,1.003137,1.003076,1.002704,1.341724,0.197334,0.766235,1.0
BAT3;BAG6,1.000814,1.000863,1.000757,1.000769,1.000718,1.000757,1.000785,1.000669,1.000586,1.000832,...,1.000811,1.000935,1.000824,1.000730,1.000706,1.001034,-1.892391,0.075596,0.587857,1.0

In [25]:
#df['average'] = df.mean(numeric_only=True, axis=1)
prot_stat['Mean Control'] = prot_stat.loc[:, prot_stat.columns.str.startswith('Control ')].mean(axis=1)
prot_stat['Mean ALS'] = prot_stat.loc[:, prot_stat.columns.str.startswith('ALS ')].mean(axis=1)

In [26]:
#Fold Change
prot_stat["FC ALS-C"]= prot_stat["Mean ALS"]/prot_stat["Mean Control"]

In [29]:
#Log 2 FC
prot_stat["Log2FC ALS-C"]=np.log2(prot_stat["FC ALS-C"])
prot_stat.head()

,ALS 1,ALS 2,ALS 3,ALS 4,ALS 5,ALS 6,ALS 7,ALS 8,ALS 9,ALS 10,...,Control 7,Control 8,t_stat,p_value,p_adjusted_bh,p_adjusted_bonf,Mean Control,Mean ALS,FC ALS-C,Log2FC ALS-C
Gene names,,,,,,,,,,,,,,,,,,,,,
HDGFRP3,1.001514,1.001400,1.001034,1.001264,1.000940,1.001052,1.001336,1.001035,1.001170,1.001036,...,1.001355,1.000622,-0.810921,0.429309,0.874395,1.0,1.001280,1.001178,0.999899,-0.000146
DNPEP,1.001676,1.001572,1.001926,1.001697,1.001872,1.001551,1.001711,1.001611,1.001530,1.001775,...,1.001628,1.001124,-0.292682,0.773307,0.962735,1.0,1.001690,1.001662,0.999972,-0.000041
HDLBP,1.000658,1.000541,1.000494,1.000629,1.000573,1.000767,1.000640,NaN,1.000539,1.000590,...,1.000574,1.000392,1.558113,0.138765,0.701906,1.0,1.000526,1.000588,1.000062,0.000089
PSMA2,1.003467,1.003487,1.003601,1.003340,1.003427,1.003151,1.004079,1.004218,1.003836,1.003006,...,1.003076,1.002704,1.341724,0.197334,0.766235,1.0,1.003249,1.003494,1.000244,0.000352
BAT3;BAG6,1.000814,1.000863,1.000757,1.000769,1.000718,1.000757,1.000785,1.000669,1.000586,1.000832,...,1.000706,1.001034,-1.892391,0.075596,0.587857,1.0,1.000853,1.000768,0.999915,-0.000123

In [30]:
prot_stat.to_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Olfactory\Olfactory no NA T-test scaled.xlsx")

In [31]:
# Sort the DataFrame by the absolute values of the column
down_sorted = prot_stat.loc[prot_stat["Log2FC ALS-C"].abs().sort_values(ascending=False).index]

In [33]:
down_sorted.to_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Olfactory\Olfactory T-test sorted.xlsx")

In [35]:
# Filter rows where 'P-value' <= 0.05
filtered_down = down_sorted[down_sorted['p_value'] <= 0.05]

In [36]:
filtered_down.to_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Olfactory\Olfactory T-test filtered.xlsx")