In [1]:
import pandas as pd
import numpy as np
import math

In [17]:
sc= pd.read_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Proteomics in CSF and SC\CSF ans SP.xlsx", index_col= "Gene names")
sc

            Log2 Ratio   Log p-value
Gene names
A1BG           0.385936      1.469190
A2M            0.391495      2.618350
A4GALT         0.370051      1.642790
AAMDC         -0.752378      0.000000
AARS          -0.007834      0.006655
...                 ...           ...
YWHAZ          0.037775      0.065057
ZC3H12A        0.013054      0.022535
ZNF227        -0.002428      0.002247
ZNF587B       -0.096101      0.139894
ZP2           -0.246217      0.319710

[1890 rows x 2 columns]

In [18]:
sc.shape

(1890, 2)

In [23]:
#sc['Gene Name'] = sc['Gene names'].str.split(';',  expand=False).str[0]

In [19]:
sc.head()

            Log2 Ratio   Log p-value
Gene names
A1BG           0.385936      1.469190
A2M            0.391495      2.618350
A4GALT         0.370051      1.642790
AAMDC         -0.752378      0.000000
AARS          -0.007834      0.006655

In [25]:
sc.columns[1]

'Log p-value '

In [26]:
# Make all values in the 'Numbers' column negative
sc['Log p-value neg'] = sc['Log p-value '] * -1
sc.head()

            Log2 Ratio   Log p-value   Log p-value neg
Gene names
A1BG           0.385936      1.469190        -1.469190
A2M            0.391495      2.618350        -2.618350
A4GALT         0.370051      1.642790        -1.642790
AAMDC         -0.752378      0.000000        -0.000000
AARS          -0.007834      0.006655        -0.006655

In [27]:
# Drop rows where 'Log p-value' is NaN
cleaned = sc.dropna(subset=['Log p-value neg'])
cleaned.head()

            Log2 Ratio   Log p-value   Log p-value neg
Gene names
A1BG           0.385936      1.469190        -1.469190
A2M            0.391495      2.618350        -2.618350
A4GALT         0.370051      1.642790        -1.642790
AAMDC         -0.752378      0.000000        -0.000000
AARS          -0.007834      0.006655        -0.006655

In [28]:
cleaned.shape

(1890, 3)

In [29]:
# Access e (Euler's number)
#e = math.e

In [35]:
# Reverse log10 transformation (calculate 10^Log p-value)
cleaned['Original p-value'] = 2 ** cleaned['Log p-value neg']
cleaned.head()

            Log2 Ratio   Log p-value   Log p-value neg  Original p-value
Gene names
A1BG           0.385936      1.469190        -1.469190          0.361185
A2M            0.391495      2.618350        -2.618350          0.162854
A4GALT         0.370051      1.642790        -1.642790          0.320237
AAMDC         -0.752378      0.000000        -0.000000          1.000000
AARS          -0.007834      0.006655        -0.006655          0.995398

In [36]:
cleaned.to_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Proteomics in CSF and SC\CSF ans SP reverse Log2.xlsx")

In [34]:
cleaned.to_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Proteomics in CSF and SC\CSF ans SP reverse Log10.xlsx")

In [32]:
cleaned.to_excel(r"C:\Users\Client\OneDrive - Queen Mary, University of London\PhD\PhD back up\Programing full\R\Datasets\Proteomics in CSF and SC\CSF ans SP reverse LogE.xlsx")